In [1]:
import pickle
import torch

import pandas as pd

In [8]:
path = '/home/users/MTrappett/mtrl/BranchGatingProject/data/hyper_search/hyper_search_results.pkl'

df = pd.read_pickle(path)

In [9]:
df.head()

,mean_accuracy,timestamp,done,training_iteration,trial_id,date,time_this_iter_s,time_total_s,pid,hostname,...,config/model_configs/device,config/model_configs/n_npb,config/model_configs/n_branches,config/model_configs/sparsity,config/model_configs/dropout,config/lr,config/batch_size,config/n_epochs,config/rotation_in_degrees,logdir
0,63.28125,1712960974,False,10,0e0ff_00000,2024-04-12_15-29-34,3.275219,32.999314,4048253,roberta,...,cpu,"[56, 200]","[14, 10]",0.8,0.5,0.001,32,10,0,0e0ff_00000
1,79.68750,1712960943,False,10,0e0ff_00001,2024-04-12_15-29-03,0.154893,1.669816,4048254,roberta,...,cpu,"[56, 200]","[14, 10]",0.8,0.5,0.001,32,10,0,0e0ff_00001
2,71.09375,1712960968,False,10,0e0ff_00002,2024-04-12_15-29-28,2.627543,26.464504,4048255,roberta,...,cpu,"[56, 200]","[14, 10]",0.8,0.5,0.001,32,10,0,0e0ff_00002
3,70.31250,1712960943,False,10,0e0ff_00003,2024-04-12_15-29-03,0.156837,1.697187,4048256,roberta,...,cpu,"[56, 200]","[14, 10]",0.8,0.5,0.001,32,10,0,0e0ff_00003

In [12]:
df[['mean_accuracy', 'config/model_name']]

   mean_accuracy config/model_name
0       63.28125       BranchModel
1       79.68750       ExpertModel
2       71.09375        MasseModel
3       70.31250       SimpleModel